body {
    background-image:url(/src/Background_Repeat.png);
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @font-face {
    font-family: "Protest";
    src: url("src/Protest.otf") format("opentype");
  }

header {
    width:100%;
    height:100%;
    overflow: hidden;
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content:center;
    position:relative;
}

header h1 {
    font:10vw "protest";
    position:absolute;
    z-index:2;
    color:#eee;
    text-shadow:0 0 20px rgba(0,0,0,75%);
}

.header-image {
    width:100%;
    display:flex;
    justify-content: center;
}
.header-image img {
    width:90%;
    position:absolute;
    top:-50px;
    z-index:1;
    position:fixed;
    filter: grayscale(25%);
}

.header-circle-outer {
    width:150vh;
    aspect-ratio: 1 / 1;
    border:2px dashed var(--border);
    border-radius:100%;
    animation: spin 120s linear infinite;
    position:absolute;
}

.header-circle-middle {
    width:60vh;
    aspect-ratio: 1 / 1;
    border:7px dotted var(--border);
    border-radius:100%;
    position:relative;
    display:flex;
    align-items:center;
    justify-content: center;
    animation: spin 120s linear infinite;
}

.header-circle-middle:before {
    content:'';
    position:absolute;
    width:calc(60vh - 23px);
    aspect-ratio: 1 / 1;
    border:2px solid var(--border);
    border-radius:100%;
}


.header-circle-middle:after {
    content:'';
    position:absolute;
    width:calc(60vh + 33px);
    aspect-ratio: 1 / 1;
    border:2px solid var(--border);
    border-radius:100%;
}

.header-circle-inner {
    width:33vh;
    aspect-ratio: 1 / 1;
    border:3px solid var(--border);
    border-radius:100%;
    position:absolute;
    z-index:1;
}

.header-circle-moon {
    position:absolute;
    width:28vh;
    aspect-ratio: 1 / 1;
    z-index:1;
    border-radius:100%;
    animation: spin 60s linear infinite;
}


.logo-moon { width:5vh; } 
.logo-moon path.moonback { fill:#1a1a1a; }
.logo-moon path.moon { fill:var(--border); }

.driftspin {
    width:100%;
    height:100%;
    background:url(/src/Josh.png);
    position:relative;
    z-index:2;
    filter:grayscale(1);
    background-size: cover;
}