body {
    background-image:url(/src/Background_Repeat.png);
}

header {
    width:100%;
    height:100%;
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content:center;
    position:relative;
}

.header-image {
    width:100%;
}
.header-image img {
    width:90%;
    position:absolute;
    top:-50px;
}

.header-circle-outer {
    width:80vh;
    aspect-ratio: 1 / 1;
    border:3px solid red;
    border-radius:100%;
}